<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<!-- <hibernate-configuration>
	
    <session-factory >
     	Mysql 
       	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.OracleDialect</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:orcl</property>
        <property name="connection.username">cyd</property>
        <property name="connection.password">cyd</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

		<mapping class="core.test.hibernate.AdminUser"/>
    </session-factory>
</hibernate-configuration> -->